#home-png {
    width: 2%;
    margin-right: 15px;
}

.nav-btn-home {
    margin-right: 15px;
}

.nav-btn-downloads {
    margin-right: 15px;
}

#download-png {
    width: 2%;
    margin-right: 15px;
}

.navbar {
    text-align: center;
}

.opening-text-home {
    text-align: center;
}
